body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

/*Новини */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.news-section {
  padding: 40px;
  background: #222;
  text-align: center;
}

.news-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.news-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* щоб переносились на новий рядок */
  margin-bottom: 30px;
}

.news-card {
  background: #111;
  border-radius: 12px;
  padding: 15px;
  width: 230px;
  text-align: left;
  transition: transform 0.3s ease;
}

.news-card {
  padding: 10px; /* внутрішній відступ блоку з контентом */
}

.news-card:not(:last-child) {
  border-left: 1px solid #FF3A3A;
}

.news-card:hover {
  transform: translateY(-8px);
}

.news-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.news-card p {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 10px;
}

.news-card .date {
  font-size: 12px;
  color: #999;
}

.news-video video {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  display: block;
}

.more-btn {
  padding: 10px 20px;
  background: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.more-btn:hover {
  background: darkred;
}